@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
#root > main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 32px;
}

@media only screen and (max-width: 1024px) {
  #root > main {
    grid-template-columns: 1fr;
  }
}

form {
  margin: 32px;
  /* display: none; */
}

legend {
  font-size: 24px;
}

fieldset {
  margin: 0 0 16px 0;
}

input,
button,
textarea {
  width: 100%;
  margin: 4px 0;
  padding: 4px 8px;
}

textarea {
  resize: none;
  height: 64px;
}

/* ############### CV MAIN ############### */

.cv > main {
  margin: 16px;
}

.cv ul {
  max-width: 100%;
}

.cv li {
  width: 100%;
  word-break: keep-all;
}

.cv > main li {
  margin: 0 0 16px 0;
}

.cv > main ul {
  margin: 16px 0 0 0;
}

/* ############### LAYOUT ############### */

fieldset,
fieldset > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 8px;
}

input,
button,
textarea,
fieldset > div {
  grid-column: span 2;
}

input[placeholder="First Name"],
input[placeholder="Last Name"],
input[placeholder="From"],
input[placeholder="To"] {
  grid-column: span 1;
}

.prev {
  aspect-ratio: 1 / 1.41;
  margin: 16px;
}

.cv {
  aspect-ratio: 1 / 1.41;

  display: grid;
  grid-template-columns: 4fr 6fr;
}

aside {
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 64px;
}

aside li {
  margin: 0 0 8px 0;
}

/* ############### GENERAL ############### */

h2,
h3 {
  font-weight: 700;
  margin: 0 0 16px 0;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 8px 0;
}

blockquote {
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;

  opacity: 0.7;
}
